# Miscellaneous / System junk
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
temp/
.swiftpm/
migrate_working_dir/
.env
scratch/
# IntelliJ / Android Studio related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
# We comment out the main folder so team launch configurations can be shared...
#.vscode/
# ...but we ignore local user workspace settings
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
Note.txt
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/
.cursor
# Web/Desktop specific ephemeral files
.web/
.tool/
ephemeral/
**/linux/flutter/ephemeral/
**/macOS/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Symbolication / Obfuscation related
app.*.symbols
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Supabase temporary directories
supabase/.temp/